@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<WSM.Models.Admin>

@{
    ViewData["Title"] = "Admin Management";
    string[] fields = ["", "Id", "Name", "Email", "Phone Number", ""];
}

<h2>Admin Management</h2>



<form method="post" action="/Admin/DeleteMany" id="deleteForm">
    <p>
        <button type="button" class="check-all-btn">Check All</button>
        <button type="button" class="uncheck-all-btn">Uncheck All</button>
    </p>

    <div id="target">
        <partial name="_Admins" model="Model" />
    </div>
</form>




