@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<WSM.Models.Food>

@{
    ViewData["Title"] = "Food Management";
    string[] fields = ["", "Id", "Image", "Name", "Price", "Description", "Category",""];
}

<form method="post" action="/Food/DeleteMany" id="deleteForm">
    <p>
        <button type="button" class="check-all-btn">Check All</button>
        <button type="button" class="uncheck-all-btn">Uncheck All</button>
    </p>

<div id="target">
    <partial name="_Foods">
</div>
</form>