@using WSM.Models
@model IngredientVM

@{
    ViewBag.Title = "Update";
    Layout = null;
}
<link rel="stylesheet" href="~/css/app.css" asp-append-version="true">


<h2 class="edit-ingredient-title">Update Ingredient</h2>

<form asp-controller="Ingredient"  asp-action="UpdateIngredient" method="post" class="edit-ingredient-form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="edit-ingredient-wrapper">
        <div>
            <label asp-for="Id">Ingredient ID:</label>
            <input asp-for="Id" readonly />
        </div>

        <div>
            <label asp-for="Name">Ingredient Name:</label>
            <input asp-for="Name" class="edit-ingredient-name" required />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div>
            <label>Quantity / Weight :</label>
            <input type="text" name="CombinedInput" class="edit-ingredient-quantity" value="@(Model.Quantity > 0 ? Model.Quantity + " pcs" : Model.Kilogram + " kg")" />
        </div>

        <!-- Hidden fields to store separately -->
        <input asp-for="Quantity" type="hidden" />
        <input asp-for="Kilogram" type="hidden" />


        <div>
            <label asp-for="Price">Cost per Unit:</label>
            <input asp-for="Price" class="edit-ingredient-cost" required />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <input type="hidden" name="Unit" id="EditUnitValue" value="" />

        <div class="edit-button-group">
            <button type="submit" class="edit-submit-btn">Submit</button>
            <button type="button" class="edit-cancel-btn" onclick="window.location.href='/Ingredient/ReadIngredient'">Cancel</button>
        </div>
    </div>
</form>


