@model WSM.Models.CategoryVM

<div class="edit-ingredient-form">
    <h2 class="edit-ingredient-title">Edit Category</h2>

    <form asp-action="EditCategory" method="post" class="edit-ingredient-wrapper">
        <input type="hidden" asp-for="Id" />

        <div>
            <label>ID</label>
            <input value="@Model.Id" class="form-control" readonly />
        </div>

        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="edit-button-group">
            <button type="submit" class="edit-submit-btn">Update</button>
            <a asp-action="Categories" class="cancel-btn">Cancel</a>
        </div>
    </form>

    <hr />

    <form asp-action="DeleteConfirmed" asp-route-id="@Model.Id" method="post"
          onsubmit="return confirm('Are you sure you want to delete this category?');">
        <button type="submit" id="savepdf">Delete</button>
    </form>
</div>
