@{
    ViewBag.Title = "Access Denied";
}
<link rel="stylesheet" href="~/css/app.css" asp-append-version="true">

<div class="no-permission-container">
    <div class="no-permission-card">
        <h1> Access Denied</h1>
        <p>Only [Admin] role can access this page.</p>
        <a href="/Table/Index" class="btn-home">Go Back Home</a>
    </div>
</div>

