@{
    ViewBag.Title = "Payment Cancel";
}

<div style="text-align: center; margin-top: 50px;">
    <h2>Payment Cancelled</h2>
    <p>Oops! Your payment was cancelled or failed. Please try again later.</p>
    <a href="../Table/Index">Home</a>
</div>
