@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<WSM.Models.OrderDetail>

@{
    ViewBag.Title = "Order History";
    string[] fields = ["Id", "Seat", "Total", "status", "Date",""];
}

<div id="target">
    <partial name="_OrderHistory">
</div>