@{
    ViewBag.Title = "Forgot Password";
	Layout = null;
}

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/forgot_password.css" />

<body>
    <div class="container p-3 border border-5 rounded-3" style="width:35%;">
        <h1 class="display-6 text-center p-2 bg-light">Password Reset</h1>
        <form asp-action="ForgotPassword" asp-controller="Authorization" method="post">
            <div class="row mb-3 justify-content-md-center">
                <div class="col-auto">
                    <input type="email" name="Email" placeholder="Enter email address" class="form-control" required />
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary" name="reset">Reset</button>
                </div>
            </div>
        </form>
    </div>
</body>
