@{
    ViewBag.Title = "Forgot Password";
	Layout = null;
}

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/app.css" />

<body id="forgot-password-body">
    <div id="forgot-password-container" class="container p-3 border border-5 rounded-3" style="width:50%">
        <h1 id="forgot-password-title" class="display-6 text-center p-2 bg-light">
            Forgot Password
        </h1>

        <div>
            <img id="forgot-password-image" src="~/images/forgot-password.jpg" alt="forgot password image">
        </div>

        <form id="forgot-password-form" asp-action="ForgotPassword" asp-controller="Authorization" method="post">
            <div class="mb-3">
                <label for="forgotPasswordEmail" class="form-label">Email address</label>
                <input type="email" id="forgotPasswordEmail" name="email" class="form-control" required>
            </div>

            <button id="forgot-password-button" type="submit" class="btn btn-primary w-100">
                Send Reset Link
            </button>
        </form>
    </div>
</body>
